<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>404-12580code.com-精品源码分享</title>
    <link rel="stylesheet" href="404.css">
  </head>
  <body>
    <p>
      https://www.12580code.com/testweb001/404test1/
      https://www.12580code.com/testweb001/404test2/
      https://www.12580code.com/testweb001/404test3/
      https://www.12580code.com/testweb001/404test4/
      https://www.12580code.com/testweb001/404test5/
      https://www.12580code.com/testweb001/404test6/
      https://www.12580code.com/testweb001/404test7/
      https://www.12580code.com/testweb001/404test8/
      https://www.12580code.com/testweb001/404test9/
    </p>
    <div class="number">404</div>
    <div class="text"><span>Ooops...</span><br>page not found<br>12580.com</div>
  </body>
</html>